@using System.Collections;
@model IEnumerable<TimeManagementSystem.Models.ProjectViewModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowProjectsList</title>
</head>
<body>
    <div> 
       <h1>ProjectList</h1>
    </div>
    @foreach(var item in Model)
    {
        <div class="project">
            <div class="project_name">@item.Name</div>
            <div class="project_name">@item.Abbreviation</div>
        </div>
    }
</body>
</html>
